version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres-container
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - inno-network

  auth-service:
    build:
      context: .
      dockerfile: ./Auth/InnoShop.Auth/Dockerfile
    container_name: auth-service-container
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5001:8080"
      - "5002:8081"
    networks:
      - inno-network
    depends_on:
      - postgres

  inno-shop:
    build:
      context: .
      dockerfile: ./Core/InnoShop.Core/Dockerfile
    container_name: inno-shop-container
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5003:8080"
      - "5004:8081"
    networks:
      - inno-network
    depends_on:
      - postgres

networks:
  inno-network:
    driver: bridge

volumes:
  postgres_data:
